<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="https://tomiewheeler.netlify.com/?fbclid=IwAR2xrmND3fv3cxxSmTuAyQlLJfqwr8LY01qsolQ35dBofmNk5Z16LmgJHKI">Tomie</a>. A Full-Stack Web Developer just trying to make a difference in the LGBTQ community!
  </p>
  <br />
  <p>
    She has worked with many organizations to complete the schooling and skills that are put forth in her work ethic. Her ties to the community helps her acheive all of the goals she has set for herself and the communities and companies she has worked with and for. She hopes to integrate this bootcamp to communites of LGBTQ family and help them achieve success, too. 
  </p>
  <p>
    If you want to learn more about LGBTQ - start <a target="_blank" href="https://en.wikipedia.org/wiki/LGBT"> here</a>.
  </p>
</div>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tomie Wheeler</h2>
      <br />
      <p>
        Tomie is a drafter at a telecommunications company. She has a degree in General Science Techonolgies, which includes programs like Catia, Autocad, Solidworks, etc. She has worked in many different forms of jobs, such as fast food assistant manager, ops manager in many retail stores, server, daycare afterschool teacher. However, it is time for her to move on from the mediocre and mundane to a life of excitement and true teamwork.
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />
